/*
Mortified theme for The Lounge, by Martin Dørum.
*/

@import "default.css";

:root {
	--body-color-muted: #999;
	--body-color: #fefefe;
	--body-bg-color: #191919;
	--window-bg-color: #222;
	--link-color: #428bca;
	--highlight-bg-color: #191919;
	--highlight-border-color: #191919;
}

/* Borders */
#chat .content,
#windows #chat .header,
#chat .user-mode::before,
#chat .userlist,
#chat-container #form {
	border-color: black;
}

#chat .userlist .names,
#footer {
	border-top: 1px solid black;
}

#chat-container #form,
#chat-container .userlist,
#chat-container .user-mode::before {
	background: #333;
}

#chat .userlist .count,
#chat .userlist .user.active,
#chat .msg.motd .text,
#chat .toggle-content {
	background: #393939;
}

#chat-container .user-mode::before {
	color: var(--body-color);
}

#chat .self .text {
	color: #99a2b4;
}

::placeholder {
	color: #999;
}

#chat .unread-marker-text::before,
#chat .date-marker-text::before,
code {
	font-weight: 700;
	color: #ccc;
	background-color: #444;
}

#chat .msg[data-type="monospace_block"] .text {
	background: #191919;
}

#sidebar .scrollable-area {
	direction: rtl;
}

#sidebar .scrollable-area * {
	direction: initial;
}

#chat .channel .highlight,
#chat .channel .highlight .from {
	color: #f92772;
}

#chat .msg[data-type="motd"] .text {
	background-color: #111;
}

#chat.colored-nicks .user.color-1 { color: #f7adf7; }
#chat.colored-nicks .user.color-2 { color: #abf99f; }
#chat.colored-nicks .user.color-3 { color: #86efdc; }
#chat.colored-nicks .user.color-4 { color: #b76ee5; }
#chat.colored-nicks .user.color-5 { color: #f9a4b3; }
#chat.colored-nicks .user.color-6 { color: #f7999a; }
#chat.colored-nicks .user.color-7 { color: #f497b9; }
#chat.colored-nicks .user.color-8 { color: #f9a9d7; }
#chat.colored-nicks .user.color-9 { color: #7fa2e2; }
#chat.colored-nicks .user.color-10 { color: #a8b8ff; }
#chat.colored-nicks .user.color-11 { color: #ad88fc; }
#chat.colored-nicks .user.color-12 { color: #f4aead; }
#chat.colored-nicks .user.color-13 { color: #fc71ab; }
#chat.colored-nicks .user.color-14 { color: #ff72e0; }
#chat.colored-nicks .user.color-15 { color: #8cb6ea; }
#chat.colored-nicks .user.color-16 { color: #f9857c; }
#chat.colored-nicks .user.color-17 { color: #ed9b82; }
#chat.colored-nicks .user.color-18 { color: #8df484; }
#chat.colored-nicks .user.color-19 { color: #ffcce3; }
#chat.colored-nicks .user.color-20 { color: #efcc81; }
#chat.colored-nicks .user.color-21 { color: #90a1ed; }
#chat.colored-nicks .user.color-22 { color: #f4d484; }
#chat.colored-nicks .user.color-23 { color: #97ea70; }
#chat.colored-nicks .user.color-24 { color: #fcbbba; }
#chat.colored-nicks .user.color-25 { color: #eef975; }
#chat.colored-nicks .user.color-26 { color: #c7ff93; }
#chat.colored-nicks .user.color-27 { color: #ffade1; }
#chat.colored-nicks .user.color-28 { color: #98ecf2; }
#chat.colored-nicks .user.color-29 { color: #7187f2; }
#chat.colored-nicks .user.color-30 { color: #9676e2; }
#chat.colored-nicks .user.color-31 { color: #f2a4eb; }
#chat.colored-nicks .user.color-32 { color: #85f27d; }
